*{
	margin: 0;
	padding: 0;
	outline: none;
}
a{
	color: rgb(65, 105, 225);
}
.all{
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login{
	border-radius:25px ;
	border:2px  solid transparent;
	height: auto;
	width: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	animation : box  1.5s linear  infinite  ; 
	padding: 50px;
	overflow: hidden;
		
}

@keyframes box {
	0%{
		box-shadow: 0px 0px 25px 20px  rgba(123, 104, 238 , 0.5) ;
	}
	50%{
		box-shadow: 0px 0px 25px 20px  		rgba(100, 149, 237 , 0.5);

	}
	100%{
		box-shadow: 0px 0px 25px 20px  rgba(123, 104, 238 , 0.5);

	}

}

.login form{
	height: 100%;
	width: 100%;
	text-align: center;
	display: grid;
	justify-content: center;
	grid-template-rows: 40px 40px 40px;
	position: relative;

}


.login form span{
	height: 40px ;
	font-size: 20px;
}
input[type=text]  {
	border: none;
	border-bottom:1px  solid black;
	height: 20px;
	width: 90%;
	padding: 5px ;
}
input[type=password]{
	height: 20px;
	width: 90%;
	border: none;
	padding: 5px;
}


.cont{
	border-bottom:1px  solid black;
	display: flex;
	width: 90%;
	height: 35px;
}
.cont button img{
	height: 40px;
	width: 40px;
	background: transparent;

}
.cont button {
	background: transparent;
	border: none;	
}

.opc{
	display: flex;
	justify-content: space-evenly;
	margin-top:15px ;
	margin-bottom: 15px;
}

#btn_opc{
	width: 40%;
	height: 30px;
	border: none;
	border-radius: 25px;
	background: var(--fondo);
	color: white;

}
#btn_opc:hover{
	filter: brightness(0.7);
	color: white;
}


.register{

	border-radius:25px ;
	border:2px  solid transparent;
	height: auto;
	width: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	animation : box  1.5s linear  infinite  ; 
	padding: 50px;
	overflow: hidden;
		

}

.register form{
	height: 100%;
	width: 100%;
	text-align: center;
	display: grid;
	justify-content: center;
	grid-template-rows: 40px 40px 40px 40px 40px 40px 40px;
	grid-template-columns: 90% ;
	position: relative;

}

select{
	width: auto;
	height: 25px;
	border-radius:25px ;
	padding: 0px 10px 0px 10px;
	background: rgb(119, 136, 153);
	color: rgb(240, 255, 255);
}

label{
	text-align: left;
}
.lb{
	color: rgb(25, 25, 112);

}




.noti{

  position: absolute;
  left:20px ;
  top: 20px;
  border:1px solid transparent; 
  height: auto; 
  width: auto;
  border:2px  solid transparent;
  border-radius: 25px; 
  padding: 10px 20px 10px  20px  ;
  
}
.type{
  width: 100%;
  display: flex;
  justify-content: center;
}
.mesage{
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.Error , .Acces  {
  border-radius: 50%;
  background: var(--color);
  height: 20px;
  width:20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  border:none;
  box-shadow: 0px  0px 5px 1px black;
}
.one{
	filter: opacity(0);
	box-shadow: 0px 0px 10px  rgba(0,0,0,0.5);
	border-radius: 25px;
	padding: 10px;
	animation: destello 2.5s  linear ;

}
@keyframes destello {
  0%{
    filter: opacity(1);
  }
  100%{
    filter: opacity(0);

  }

}

.charget{
  background: rgba(0, 0, 0, 0.5);
  height: 100vh; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center  ;
  position: absolute;
  z-index: 20;
}
@keyframes  gira{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }

}